.big{
    position: relative;
    top: 240px;
    width: 1902px;
}
.big{
    position: relative;
    top: 240px;
    width: 1902px;
}
.one{
    position: relative;
    left: 100px;
    top: 300px;
    width: 1602px;
}
h2{
    font-size: 64px;
}
.psize{
    font-size: 42px;
}
.two{
    position: relative;
    left: 100px;
    top: 300px;
    width: 1602px;
}